<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Personal Blog | {{ title }}</title>
    {% else %}
    <title>Personal Blog</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <nav class="nav">
                <ul>
                    {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    {% else %}
                    <li><a href="{{ url_for('publish') }}">Publish</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('register') }}">Sign Up</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </nav>
        </header>
        <main class="main">
            <div class="container">
                {% block app_main %}{% endblock %}
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                {% block app_footer %}{% endblock %}
            </div>
        </footer>
    </div>

    {% block app_script %}{% endblock %}
</body>
</html>