{% extends "base.html" %}

{% block styles %}

{{ super() }}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/github.min.css">

{% endblock %}

{% block app_main %}
<div>
    <h1 class="post__title">{{ post.title }}</h1>
    <p>
        By <em class="post__author">{{ post.author.username }}</em>
        at <em class="post__date">{{ post.timestamp }}</em>.
    </p>
</div>
{% if current_user.is_editor %}
<hr>
<h4>Editor Menu</h4>
<ul class="editor-menu">
    <li><a 
        href="{{ url_for('edit', post_id=post.id) }}" 
        onclick="return confirm('Are you sure?');">
        Edit</a></li>
    <li><a 
        href="{{ url_for('delete', post_id=post.id) }}"
        onclick="return confirm('Are you sure?');">
        Delete</a></li>
</ul>
{% endif %}
<hr>
<div class="post__text">
    {{ post.body | safe}}
</div>
{% endblock %}

{% block scripts %}

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{{ super() }}

{% endblock %}