{% extends "base.html" %}

{% block app_main %}

<form class="form" method="POST" action="" novalidate>
    <p>
        {{ form.hidden_tag() }}
    </p>
    <p>
        {{ form.title.label }}<br>
        {{ form.title() }}<br>
        {% for error in form.title.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.body.label }}<br>
        {{ form.body() }}<br>
        {% for error in form.body.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>



{% endblock %}



{% block app_script %}

{{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
{{ ckeditor.config(name='body') }}

{% endblock %}